{% extends "main_frontend/base.html" %}
{% load static %}
{% block body_content %}
							
	<!-- START SECTION TOP -->
	<section class="section-top">
		<div class="container">
			<div class="col-lg-10 offset-lg-1 text-center">
				<div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
					<h1>About Us</h1>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li> / About</li>
					</ul>
				</div><!-- //.HERO-TEXT -->
			</div><!--- END COL -->
		</div><!--- END CONTAINER -->
	</section>	
	<!-- END SECTION TOP -->
	
	<!-- START ABOUT US -->
	<section class="about-page section-padding">
		<div class="container">
			<div class="col-lg-10 offset-lg-1">
				<div class="ap-content">
					<h1>Vision & Mission</h1>
					<p>A Vision Statement outlines the long-term aspirations and goals of an organization. It describes what the organization hopes to achieve in the future and serves as a guiding principle for its strategic decisions and actions. A well-crafted vision statement should be inspirational, ambitious, and forward-looking, inspiring both employees and stakeholders to work towards a common purpose.</p>
				</div><!-- ABOUT CONTENT -->
				<div class="ap-content">
					<h1>Who we are</h1>
					<p>On the other hand, as a user interacting with me, you are a human individual or group using this AI system to ask questions, seek information, or engage in a conversation. Your purpose could be to gain knowledge, get assistance, or explore various topics.</p>

					<p>AiLife, the organization behind this AI, is a research lab that focuses on artificial intelligence and machine learning. It aims to promote and develop AI technology responsibly and ensure its positive impact on society.</p>

					<p>Together, you, as the user, and I, as the AI language model, form an interactive exchange of information, ideas, and knowledge. It's crucial to recognize that the AI is a tool to augment human capabilities and should be used responsibly and ethically in various applications.</p>
				</div><!-- ABOUT CONTENT -->
				<div class="ap-content">
					<h1>Join our team</h1>
					<p>Feel a part of the team wherever  you are. Frequent company-wide virtual events & activities. Home office stipend. Optional working hubs in Austin, Salt Lake City, and Sydney. Fun company offsites. Email here - <u><a href="mailto:example.com">example@yourmail.com</a></u></p>
				</div><!-- ABOUT CONTENT -->
				<div class="ap-content">
					<h1>Get in Touch with us</h1>
					<p>We're always an email away - please say hello at <u><a href="mailto:example.com">example@yourmail.com</a></u> if we can be of any help or you have any questions.</p>
				</div><!-- ABOUT CONTENT -->
			</div><!--- END COL -->
		</div><!--- END CONTAINER -->
	</section>	
	<!-- END ABOUT US -->

	
{% endblock body_content %}