{% extends "main_frontend/base.html" %}
{% load static %}
{% block body_content %}
							
	<!-- START SECTION TOP -->
	<section class="section-top">
		<div class="container">
			<div class="col-lg-10 offset-lg-1 text-center">
				<div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
					<h1>Latest Blog</h1>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li> / Blog</li>
					</ul>
				</div><!-- //.HERO-TEXT -->
			</div><!--- END COL -->
		</div><!--- END CONTAINER -->
	</section>	
	<!-- END SECTION TOP -->
	
	<!-- START BLOG -->
	<section class="article_area section-padding">
		<div class="container">																
			<div class="row">								
				<div class="col-lg-8 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
					<div class="arti_single">
						<div class="arti_img">
							<img src="assets/img/blog/1.jpg" class="img-fluid" alt="Blog image" />
							<a href="single_blog.html">AI Writer</a>
						</div>
						<div class="arti_content">
							<span><i class="fa fa-user"></i> By Alex Hales</span>
							<span><i class="fa fa-calendar"></i> Nov 10, 2023</span>
							<h3><a href="single_blog.html">Supercharging Your SEO Game with AI Writing Assistants</a></h3>
						</div>
						<a class="arti_btn" href="single_blog.html">Read More <i class="fa fa-long-arrow-right"></i></a>
					</div><!-- END ARTI SINGLE  -->
					<div class="arti_single">
						<div class="arti_img">
							<img src="assets/img/blog/2.jpg" class="img-fluid" alt="Blog image" />
							<a href="single_blog.html">Content</a>
						</div>
						<div class="arti_content">
							<span><i class="fa fa-user"></i> By Justin Bear</span>
							<span><i class="fa fa-calendar"></i> Nov 11, 2023</span>
							<h3><a href="single_blog.html">AI Writing Assistants and the Future of Content Marketing</a></h3>
						</div>
						<a class="arti_btn" href="single_blog.html">Read More <i class="fa fa-long-arrow-right"></i></a>
					</div><!-- END ARTI SINGLE  -->
					<div class="arti_single">
						<div class="arti_img">
							<img src="assets/img/blog/3.jpg" class="img-fluid" alt="Blog image" />
							<a href="single_blog.html">Writing</a>
						</div>
						<div class="arti_content">
							<span><i class="fa fa-user"></i> By Justin Bear</span>
							<span><i class="fa fa-calendar"></i> Nov 11, 2023</span>
							<h3><a href="single_blog.html">This is the only read you would need before sitting down to prepare</a></h3>
						</div>
						<a class="arti_btn" href="single_blog.html">Read More <i class="fa fa-long-arrow-right"></i></a>
					</div><!-- END ARTI SINGLE  -->
					<div class="arti_single">
						<div class="arti_img">
							<img src="assets/img/blog/4.jpg" class="img-fluid" alt="Blog image" />
							<a href="single_blog.html">Robot</a>
						</div>
						<div class="arti_content">
							<span><i class="fa fa-user"></i> By Justin Bear</span>
							<span><i class="fa fa-calendar"></i> Nov 11, 2023</span>
							<h3><a href="single_blog.html">The Best Chrome Extensions for Marketers for Maximum Productivity</a></h3>
						</div>
						<a class="arti_btn" href="single_blog.html">Read More <i class="fa fa-long-arrow-right"></i></a>
					</div><!-- END ARTI SINGLE  -->
					<div class="arti_single">
						<div class="arti_img">
							<img src="assets/img/blog/5.jpg" class="img-fluid" alt="Blog image" />
							<a href="single_blog.html">Social AI</a>
						</div>
						<div class="arti_content">
							<span><i class="fa fa-user"></i> By Justin Bear</span>
							<span><i class="fa fa-calendar"></i> Nov 11, 2023</span>
							<h3><a href="single_blog.html">How To Select The Best Marketing Automation Tools</a></h3>
						</div>
						<a class="arti_btn" href="single_blog.html">Read More <i class="fa fa-long-arrow-right"></i></a>
					</div><!-- END ARTI SINGLE  -->						
				</div><!-- END COL  -->		
				<div class="col-lg-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="arti_single">
						<div class="arti_img_two">
							<img src="assets/img/blog/6.jpg" class="img-fluid" alt="Blog image" />
							<a href="single_blog.html">Blog</a>
						</div>
						<div class="arti_content ac_two">
							<span><i class="fa fa-user"></i> By Rock Austin</span>
							<span><i class="fa fa-calendar"></i> Nov 12, 2023</span>
							<h3><a href="single_blog.html">Enhancing Your E-commerce Store With AI Writing Assistants</a></h3>
						</div>
						<a class="arti_btn" href="single_blog.html">Read More <i class="fa fa-long-arrow-right"></i></a>
					</div><!-- END ARTI SINGLE  -->
					<div class="arti_single">
						<div class="arti_img_two">
							<img src="assets/img/blog/7.jpg" class="img-fluid" alt="Blog image" />
							<a href="single_blog.html">Email</a>
						</div>
						<div class="arti_content ac_two">
							<span><i class="fa fa-user"></i> By Rock Austin</span>
							<span><i class="fa fa-calendar"></i> Nov 12, 2023</span>
							<h3><a href="single_blog.html">Your Go-To Guide to Cracking the Interview for Your Dream Job</a></h3>
						</div>
						<a class="arti_btn" href="single_blog.html">Read More <i class="fa fa-long-arrow-right"></i></a>
					</div><!-- END ARTI SINGLE  -->
					<div class="arti_single">
						<div class="arti_img_two">
							<img src="assets/img/blog/8.jpg" class="img-fluid" alt="Blog image" />
							<a href="single_blog.html">Marketing</a>
						</div>
						<div class="arti_content ac_two">
							<span><i class="fa fa-user"></i> By Rock Austin</span>
							<span><i class="fa fa-calendar"></i> Nov 12, 2023</span>
							<h3><a href="single_blog.html">Your Go-To Guide to Setting up Your YouTube Channel</a></h3>
						</div>
						<a class="arti_btn" href="single_blog.html">Read More <i class="fa fa-long-arrow-right"></i></a>
					</div><!-- END ARTI SINGLE  -->	
				</div><!-- END COL  -->					
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END BLOG -->	

{% endblock body_content %}