{% extends "main_frontend/base.html" %}
{% load static %}
{% block body_content %}

								
	<!-- START HOME -->
	<section  id="home" class="home_bg">	
		<div class="container">
			<div class="row">
				<div class="offset-lg-1 col-lg-10 col-sm-12 col-xs-12 text-center">	
					<div class="about_me_content">
						<h1 class="cd-headline clip">Optimize your website for better SEO
							<span class="cd-words-wrapper">
							<b class="is-visible">with AI-powered audits</b>
							<b>by filtering indexed URLs</b>
							<b>with AI Content detection</b>
							</span>
						</h1>
						<p>Boost your website's SEO performance with our all-in-one toolkit. SEO Tech offers AI-powered site audits, index checking, and content analysis to help you optimize every aspect of your site, enhance visibility, and ensure originality. Take control of your website’s SEO with ease and efficiency.</p>
					</div>
					<div class="home_btn">
						{% comment %} <a href="contact.html" class="home_one">Get started</a> {% endcomment %}
					</div>		
				</div><!-- END COL-->
			</div><!--- END ROW -->			
		</div><!--- END CONTAINER -->
	</section>
	<!-- END  HOME -->

	<!--START TOP FEATURES -->
	<div class="top-feature">
		<div class="container">				
			<div class="row text-center">					
				<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
					<div class="single_tf">
						<span class="ti-user"></span>
						<h3>500+</h3>
						<p>Happy users, seo experts & professionals</p>						
					</div>
				</div><!--END COL -->
				<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="single_tf">
						<span class="ti-pencil-alt"></span>
						<h3>4.8/5 Reviews</h3>
						<p>Satisfaction rating from 400+ reviews on TrustPilot, G2 & more.</p>
					</div>
				</div><!--END COL -->
				<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
					<div class="single_tf">
						<span class="ti-money"></span>
						<h3>1000+ Sites</h3>
						<p>used SEO tech auditing tool to boost thier ranking</p>
					</div>
				</div><!--END COL -->
			</div><!--END ROW -->		
		</div><!--END CONTAINER -->
	</div>
	<!--END TOP FEATURES -->
	
	<!-- START COMPANY PARTNER LOGO  -->
	<div class="partner-logo section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="partner_title">
						<h3>Trusted By famous Companies Arround The World! </h3>
					</div>
					<div class="partner">
						<a href="#"><img src="{% static "img/clients/brand-1.png" %}" alt="image"></a>
						<a href="#"><img src="{% static "img/clients/brand-3.png" %}" alt="image"></a>
						<a href="#"><img src="{% static "img/clients/brand-2.png" %}" alt="image"></a>
						<a href="#"><img src="{% static "img/clients/brand-4.png" %}" alt="image"></a>
						<a href="#"><img src="{% static "img/clients/brand-5.png" %}" alt="image"></a>
						<a href="#"><img src="{% static "img/clients/brand-1.png" %}" alt="image"></a>
						<a href="#"><img src="{% static "img/clients/brand-2.png" %}" alt="image"></a>
						<a href="#"><img src="{% static "img/clients/brand-3.png" %}" alt="image"></a>
					</div>
				</div><!-- END COL  -->
			</div><!--END  ROW  -->
		</div><!-- END CONTAINER  -->
	</div>
	<!-- END COMPANY PARTNER LOGO -->
	
	<!--START Tools -->
	<div id="service" class="best-service section-padding">
		<div class="container">
			<div class="section-title">
			  <h2>Our Tools</h2>
			</div>				
			<div class="row text-center">					
				<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
					<div class="single_service">
						<div class="ss_icon"><span class="ti-pencil-alt"></span></div>
						<h3>Site Audit Tool</h3>
						<p>Identify and fix technical SEO issues with our AI-powered site audit.</p>
						<a href="usecase.html">Run Site Audit</a>
					</div>
				</div><!--END COL -->
				<div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="single_service">
						<div class="ss_icon"><span class="ti-world"></span></div>
						<h3>Index Checker Tool</h3>
						<p>Check your sitemap for indexed and non-indexed URLs effortlessly.</p>
						<a href="usecase.html">Check Indexing</a>
					</div>
				</div><!--END COL -->
				<div class="col-lg-4	 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
					<div class="single_service">
						<div class="ss_icon"><span class="ti-package"></span></div>
						<h3>AI Content Detection Tool</h3>
						<p>Detect AI-generated content and ensure original writing for your site.</p>
						<a href="usecase.html">Analyze Content</a>
					</div>
				</div><!--END COL -->

				
			</div><!--END ROW -->		
		</div><!--END CONTAINER -->
	</div>
	<!--END Tools -->

	<!-- START Features -->
	<section id="pricing" class="price_area section-padding">
		<div class="container">													
			<div class="section-title">
				<h2>Features</h2>
			</div>			
			<div class="row">									
				<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
					<div class="pricing_design">
						<div class="single-pricing">
							<div class="price-head">		
								<h2>SEO Audit Tool</h2>
							</div>
							<ul>
								<li><span class="ti-notepad"></span> Real Time Audit Report</li>
								<li><span class="ti-file"></span> Report 20+ Issues</li>
								<li><span class="ti-light-bulb"></span> AI Suggestions for Issues</li>
								<li><span class="ti-star"></span> Free for all Users</li>
							</ul>
							<div class="pricing-price">
								
							</div>
						</div>
					</div>
				</div><!--- END COL -->	
				<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="pricing_design">
						<div class="single-pricing">
							<div class="price-head">		
								<h2>URLs Index Checker</h2>
							</div>
							<ul>
								<li><span class="ti-notepad"></span> Filter Indexed & Non-Indexed URLs</li>
								<li><span class="ti-file"></span> Real Time Reporting</li>
								<li><span class="ti-light-bulb"></span> Export the results</li>
							</ul>
							<div class="pricing-price">
								
							</div>
						</div>
					</div>
				</div><!--- END COL -->	
				<div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
					<div class="pricing_design">
						<div class="single-pricing">
							<div class="price-head">		
								<h2>AI Content Detector</h2>
							</div>
							<ul>
								<li><span class="ti-notepad"></span> Test Authenticity of Content</li>
								<li><span class="ti-file"></span> Fast Results</li>
							</ul>
							<div class="pricing-price">
								
							</div>
						</div>
					</div>
				</div><!--- END COL -->			  
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END Features -->
	
	<!-- START WHY CHOOSE US -->
	<section class="why_choose section-padding">
		<div class="container">									
			<div class="row">								
				<div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
					<div class="wc_content">
						<h2>Optimize Your Website SEO in <span>Minutes, Not Hours</span></h2>
						<p>From site audits to index checking and content detection, streamline your SEO process with AI-powered insights. Simply input your website details, and let SEO Tech handle the rest—optimizing your titles, meta descriptions, alt text, and ensuring content originality. Ready to boost your SEO performance? Let’s get started!</p>
						<ul>
							<li><span class="ti-check"></span><u><strong>AI-powered SEO Audits </strong></u>to fix technical issues instantly</li>
							<li><span class="ti-check"></span><u><strong>Index Checker</strong></u> for identifying both indexed and non-indexed URLs</li>
							<li><span class="ti-check"></span><u><strong>AI Suggestions</strong></u> for titles, meta, and alt tags to maximize SEO potential</li>
							<li><span class="ti-check"></span><u>AI Content Detector Content</u> <strong> to check the Authenticity of the content</strong></li>
						</ul>
					</div>
					<div class="ss_btn">
						<a href="#">Try For Free</a>
					</div>
				</div><!--- END COL -->						
				<div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="wc_img">
						<img src="{% static "img/why-us-bg.jpg" %}" class="img-fluid" alt="image">
						<div class="wc_year">
							<h3>5 Years of Experience <br />from 2019</h3>
						</div>
					</div>
				</div><!--- END COL -->			  
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END WHY CHOOSE US -->	
	
	<!-- START HOW IT WORKS -->
	<section class="hiw_area section-padding">
		<div class="container">													
			<div class="section-title">
				<h2>How It works</h2>
				<p>Save your time and money, Very easy to create your <span>writing content that converts</span> </p>
			</div>			
			<div class="row">								
				<div class="col-lg-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
					<div class="single_hiw">
						<div class="sh_title">01</div>
						<div class="single_hiw_content">
							<h3>Choose Usecase</h3>
							<p>It is a long established fact that reader will be distracted readable content of a page when.</p>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="single_hiw">
						<div class="sh_title">02</div>
						<div class="single_hiw_content">
							<h3>Input context</h3>
							<p>It is a long established fact that reader will be distracted readable content of a page when.</p>
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-lg-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
					<div class="single_hiw">
						<div class="sh_title">03</div>
						<div class="single_hiw_content">
							<h3>Magically Writes</h3>
							<p>It is a long established fact that reader will be distracted readable content of a page when.</p>
						</div>
					</div>
				</div><!--- END COL -->														  
			</div><!--- END ROW -->
			<div class="row">
				<div class="col-lg-12 vp_top wow fadeInUDown" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="video_promotion">
						<img src="{% static "img/video-bg.jpg" %}" class="img-fluid" alt="" />
						<a class="video-play" href="https://www.youtube.com/watch?v=OUFcCoTx8zM"><i class="fa fa-play"></i></a>
					</div>
				</div><!--- END COL -->	
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END HOW IT WORKS -->
	
	<!-- START TESTIMONIALS -->
	<section class="test_area section-padding">
		<div class="container">													
			<div class="section-title">
				<h2>Reviews</h2>
				<p>All the reviews loved by Customer Satisfaction rating from <span>1300+ reviews on TrustPilot</span> & more </p>
			</div>			
			<div class="row">
				{% comment %} <div class="col-lg-5">
					<div class="test_img">
						<img src="{% static "img/test_img2.jpg" %}" class="img-fluid" alt="">
					</div>
				</div>		 {% endcomment %}
				<div class="col-lg-7">
					<div id="testimonial-slider" class="owl-carousel">
						<div class="single_rev">
							<div class="rev_content">													
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<p>Relieve the stress of juggling multiple projects by providing seamless collaboration, team billing and robust project management features all without the hefty price tag.it's easy to get back to what matters: running your business and making sure everything runs smoothly.</p>
							</div>
							<div class="pic_content">
								<div class="rev_pic">
									<img src="{% static "img/testimonial/img-1.jpg" %}" class="img-fluid" alt="">
								</div>
								<h4>James Simmons</h4>
								<small class="post">Marketer</small>	
							</div>
						</div><!-- END TESTIMONIAL -->
						<div class="single_rev">
							<div class="rev_content">													
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<p>Relieve the stress of juggling multiple projects by providing seamless collaboration, team billing and robust project management features all without the hefty price tag.it's easy to get back to what matters: running your business and making sure everything runs smoothly.</p>
							</div>
							<div class="pic_content">
								<div class="rev_pic">
									<img src="{% static "img/testimonial/img-2.jpg" %}" class="img-fluid" alt="">
								</div>
								<h4>Shek Hasina</h4>
								<small class="post">Author</small>	
							</div>
						</div><!-- END TESTIMONIAL -->
						<div class="single_rev">
							<div class="rev_content">													
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<p>Relieve the stress of juggling multiple projects by providing seamless collaboration, team billing and robust project management features all without the hefty price tag.it's easy to get back to what matters: running your business and making sure everything runs smoothly.</p>
							</div>
							<div class="pic_content">
								<div class="rev_pic">
									<img src="{% static "img/testimonial/img-3.jpg" %}" class="img-fluid" alt="">
								</div>
								<h4>Biddut Momtaz</h4>
								<small class="post">Blogger</small>	
							</div>
						</div><!-- END TESTIMONIAL -->
						<div class="single_rev">
							<div class="rev_content">													
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<i class="fa fa-star"></i>
								<p>Relieve the stress of juggling multiple projects by providing seamless collaboration, team billing and robust project management features all without the hefty price tag.it's easy to get back to what matters: running your business and making sure everything runs smoothly.</p>
							</div>
							<div class="pic_content">
								<div class="rev_pic">
									<img src="{% static "img/testimonial/img-4.jpg" %}" class="img-fluid" alt="">
								</div>
								<h4>Kader Kaku</h4>
								<small class="post">CEO at chapabaz</small>	
							</div>
						</div><!-- END TESTIMONIAL -->
					</div><!-- END TESTIMONIAL SLIDER -->
				</div><!-- END COL  -->													  
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END TESTIMONIALS -->
	
	<!-- START BLOG -->
	<section class="article_area section-padding">
		<div class="container">													
			<div class="section-title">
				<h2>Aricle sample</h2>
				<p>All the reviews loved by <span>Copywriters, Marketers, Professionals</span> with others </p>
			</div>			
			<div class="row">								
				<div class="col-lg-8 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
					<div class="arti_single">
						<div class="arti_img">
							<img src="{% static "img/blog/1.jpg" %}" class="img-fluid" alt="Blog image" />
							<a href="blog.html">AI Writer</a>
						</div>
						<div class="arti_content">
							<span><i class="fa fa-user"></i> By Alex Hales</span>
							<span><i class="fa fa-calendar"></i> Nov 10, 2023</span>
							<h3><a href="blog.html">Supercharging Your SEO Game with AI Writing Assistants</a></h3>
						</div>
						<a class="arti_btn" href="blog.html">Read More <i class="fa fa-long-arrow-right"></i></a>
					</div><!-- END ARTI SINGLE  -->
					<div class="arti_single">
						<div class="arti_img">
							<img src="{% static "img/blog/2.jpg" %}" class="img-fluid" alt="Blog image" />
							<a href="blog.html">Content</a>
						</div>
						<div class="arti_content">
							<span><i class="fa fa-user"></i> By Justin Bear</span>
							<span><i class="fa fa-calendar"></i> Nov 11, 2023</span>
							<h3><a href="blog.html">AI Writing Assistants and the Future of Content Marketing</a></h3>
						</div>
						<a class="arti_btn" href="blog.html">Read More <i class="fa fa-long-arrow-right"></i></a>
					</div><!-- END ARTI SINGLE  -->						
				</div><!-- END COL  -->		
				<div class="col-lg-4 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="arti_single">
						<div class="arti_img_two">
							<img src="{% static "img/blog/3.jpg" %}" class="img-fluid" alt="Blog image" />
							<a href="blog.html">Blog</a>
						</div>
						<div class="arti_content ac_two">
							<span><i class="fa fa-user"></i> By Rock Austin</span>
							<span><i class="fa fa-calendar"></i> Nov 12, 2023</span>
							<h3><a href="blog.html">Enhancing Your E-commerce Store With AI Writing Assistants</a></h3>
						</div>
						<a class="arti_btn" href="blog.html">Read More <i class="fa fa-long-arrow-right"></i></a>
					</div><!-- END ARTI SINGLE  -->	
				</div><!-- END COL  -->					
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END BLOG -->
	
	
	<!-- START FAQ -->
	<section class="faq_area section-padding">
		<div class="container">													
			<div class="section-title">
				<h2>Faq</h2>
				<p>Check the question section to get <span>Resources, FAQs, & Guides</span></p>
			</div>			
			<div class="row justify-content-center">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="accordion" id="accordionExample">
					  <div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
						  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							How does it create content?
						  </button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						  <div class="accordion-body">
							Great value and so easy to use and saves me so much time! I was shocked by how much time and brain energy it saved me. Simple & easy gotta love that. Great value and so easy to use and saves me so much time! I was shocked by how much time and brain energy it saved me. Simple & easy gotta love that.
						  </div>
						</div>
					  </div><!-- END ACCORDION ITEM  -->
					  <div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Is the content original?
						  </button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
						  <div class="accordion-body">
							Great value and so easy to use and saves me so much time! I was shocked by how much time and brain energy it saved me. Simple & easy gotta love that. Great value and so easy to use and saves me so much time! I was shocked by how much time and brain energy it saved me. Simple & easy gotta love that.
						  </div>
						</div>
					  </div><!-- END ACCORDION ITEM  -->
					  <div class="accordion-item">
						<h2 class="accordion-header" id="headingThree">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							How to write long-form blogs?
						  </button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
						  <div class="accordion-body">
							Great value and so easy to use and saves me so much time! I was shocked by how much time and brain energy it saved me. Simple & easy gotta love that. Great value and so easy to use and saves me so much time! I was shocked by how much time and brain energy it saved me. Simple & easy gotta love that.
						  </div>
						</div>
					  </div><!-- END ACCORDION ITEM  -->
					  <div class="accordion-item">
						<h2 class="accordion-header" id="headingFour">
						  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							How do I view my usage?
						  </button>
						</h2>
						<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
						  <div class="accordion-body">
							Great value and so easy to use and saves me so much time! I was shocked by how much time and brain energy it saved me. Simple & easy gotta love that. Great value and so easy to use and saves me so much time! I was shocked by how much time and brain energy it saved me. Simple & easy gotta love that.
						  </div>
						</div>
					  </div><!-- END ACCORDION ITEM  -->	
					  <div class="accordion-item">
						<h2 class="accordion-header" id="headingFive">
						  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
							How does it create content?
						  </button>
						</h2>
						<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
						  <div class="accordion-body">
							Great value and so easy to use and saves me so much time! I was shocked by how much time and brain energy it saved me. Simple & easy gotta love that. Great value and so easy to use and saves me so much time! I was shocked by how much time and brain energy it saved me. Simple & easy gotta love that.
						  </div>
						</div>
					  </div><!-- END ACCORDION ITEM  -->					  
					</div>						
				</div><!-- END COL  -->	
			</div><!--END  ROW  -->
		</div><!--- END CONTAINER -->
	</section>
	<!-- END FAQ -->	
	
{% endblock body_content %}